<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT DEPT</title>
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header>
      <div class="main-div">
        <div class="clg-logo">
          <img src="/images/clg_logo.png" alt="" />
        </div>
        <div class="clg-title">
          <h1>TRINITY COLLEGE OF ENGINEERING & RESEARCH</h1>
          <h4>Where Knowledge meets Excellence</h4>
          <h4>( A + Accredited by NAAC)</h4>
          <div class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/virtualtour">Virtual Tour</a>
            <a href="/titans">Titans</a>
            <a href="/academics">Academics</a>
            <a href="/placement">Placement</a>
            <!-- <a href="/events">Events</a> -->
          </div>
        </div>
      </div>
      <hr />
    </header>
  </body>
</html>
