<%- include("partials/header.ejs") %>

<body>
  <main>
    <div>
      <div>
        <h1>About Us</h1>
        <p>
          The Trinity College of Engineering and Research established the
          Department of Information Technology in the academic year 2008-09. The
          Department of Information Technology offers undergraduate ‘Bachelor of
          Engineering’ degree that covers the entire syllabus of the subject,
          with broad range of disciplines and skills in the world.
        </p>
        <div>
          <h1>Vision</h1>
          <p>
            To create skilled information technology professionals with a
            consistent academics for social well-being सामाजिक कल्याणासाठी
            सातत्यपूर्ण शैक्षणिक असलेले कुशल माहिती तंत्रज्ञान व्यावसायिक तयार
            करणे.
          </p>
        </div>
        <div>
          <h1>Mission</h1>
          <ul>
            <li>
              1) To inculcate the IT skills in students to be successful in
              their profession
            </li>
            <li>
              2) To Provide opportunities for overall personality development
            </li>
            <li>
              3) To train students for demanding technologies to meet industrial
              needs
            </li>
            <li>4) To supply society with proficient IT professionals</li>
          </ul>
        </div>
        <div>
          <h1>Department Objectives</h1>
          <ul>
            <li>
              To Increasing awareness, visibility and recognition of the
              profession of Information Technology and producing quality
              graduates with excellent preparation of IT.
            </li>
            <li>
              To develop student to work as a team member on project in any
              environment.
            </li>
            <li>
              To prepare for students with a sound foundation in the
              mathematical, scientific and engineering fundamentals necessary to
              formulate, solve and analyze, design, develop engineering
              problems.
            </li>
            <li>To develop students to go higher studies.</li>
            <li>
              To produce graduates who would attain professional competence
              through life-long learning such as advanced degrees, professional
              registration, and other professional activities.
            </li>
            <li>
              To produce graduates who function effectively in a
              multi-disciplinary environment and individually, within a global,
              societal, and environmental context.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</body>
