<%- include("partials/header.ejs") %>

<body>
  <main>
    <!-- Academic Card for Academics -->
    <div class="academics-card">
      <div class="card-content">
        <table>
          <tbody>
            <!-- Second Year -->
            <tr>
              <td><strong>SECOND YEAR</strong></td>
              <td>
                <a
                  href="https://www.aitpune.com/Documents/IT/Syllabus-seit.pdf"
                  target="_blank"
                  >Syllabus Copy</a
                >
              </td>
              <td>
                <a
                  href="https://drive.google.com/drive/u/0/folders/1KzUlceDvRDYgBbfgGkyWBoEwPR0upn_p"
                  target="_blank"
                  >Previous Year Question</a
                >
              </td>
            </tr>
            <!-- Third Year -->
            <tr>
              <td><strong>THIRD YEAR</strong></td>
              <td>
                <a
                  href="https://www.aitpune.com/Documents/IT/Syllabus-teit.pdf"
                  target="_blank"
                  >Syllabus Copy</a
                >
              </td>
              <td>
                <a
                  href="https://drive.google.com/drive/u/0/folders/1kcVGaESGJz0_mSRZnuC4s6KrBj9lENtp"
                  target="_blank"
                  >Previous Year Question</a
                >
              </td>
            </tr>
            <!-- Final Year -->
            <tr>
              <td><strong>FINAL YEAR</strong></td>
              <td>
                <a
                  href="https://www.aitpune.com/Documents/IT/syllabus/BE_IT_2019_Course_Syllabus.pdf"
                  target="_blank"
                  >Syllabus Copy</a
                >
              </td>
              <td>
                <a
                  href="https://drive.google.com/drive/u/0/folders/1wOWetAZ3RgIuYZ5Cu3ijKLOLZnD6gyK7"
                  target="_blank"
                  >Previous Year Question</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>
