<%- include("partials/header.ejs") %>
<body>
  <main>
    <div class="dept-img">
      <svg
        width="1698"
        height="568"
        viewBox="0 0 1698 568"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <rect width="1698" height="568" fill="url(#pattern0_37_26)" />
        <defs>
          <pattern
            id="pattern0_37_26"
            patternContentUnits="objectBoundingBox"
            width="1"
            height="1"
          >
            <use
              xlink:href="#image0_37_26"
              transform="matrix(0.000938086 0 0 0.00280435 0 -0.341305)"
            />
          </pattern>
          <image id="image0_37_26" width="1066" height="600" />
        </defs>
      </svg>
    </div>
    <div class="welcome-txt">
      <h2>Welcome to <span>IT DEPARTMENT</span></h2>
      <h4>Faculties</h4>
    </div>

    <!-- 1. Faculty Table -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img src="/images/sample.jpg" alt="Dr. Vilas Shivaji Gaikwad" />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Dr. Vilas Shivaji Gaikwad</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Associate Professor & HoD</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>PhD.(CSE), M.Tech(CSE), BE(CSE)</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching: 13 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>Machine Learning, IOT, Image Processing</td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>hodit.tcoer@kjei.edu.in, Vilasgaikwad.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- 2. Faculty Table -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img src="/images/sample2.jpg" alt="Dr. Ravindra S. Apare" />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Dr. Ravindra S. Apare</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Associate Professor</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>Ph.D. (CS&E)</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching:21 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>Computer Graphics, Object Oriented Programming</td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>ravindraapare.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- 3. Faculty Table -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img
          src="/images/sample3.jpg"
          alt="Prof. Shrikant A. Shinde
        "
        />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Prof. Shrikant A. Shinde</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Assistant Professor</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>ME (Computer - Computer Networks )</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching:19 Years, Industry : 4 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>
                Databases, Data Mining ,Machine Learning, Software Engineering,
                Software Project Management.
              </td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>shrikantshinde.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Add additional tables similarly -->

    <!-- 4. Faculty Table -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img src="/images/sample4.jpg" alt="Prof.Aarti Kale" />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Prof.Aarti Kale</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Assistant Professor</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>PhD Pursuing.</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching:12 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>Data Mining</td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>aartikale.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Repeat for the remaining 9 tables -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img src="/images/sample4.jpg" alt="Prof. Gajanan" />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Prof. Gajanan A</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Assistant Professor</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>M. Tech (CSE)</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching:15 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>Network, Security</td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>gajananarsalwad.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 6. Faculty Table -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img
          src="/images/sample4.jpg"
          alt="Prof. Pravin S.Patil
        "
        />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Prof. Pravin S.Patil</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Assistant Professor</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>ME(CS) Ph.D(Pursuing)</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching:9.3 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>Machine Learning, Cyber Security</td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>pravinpatil.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 7. Faculty Table -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img
          src="/images/sample4.jpg"
          alt="Prof. Priya R. Jamdade
        "
        />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Prof. Priya R. Jamdade</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Assistant Professor</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>ME (CS)</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching:8 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>Big Data Analytics</td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>priyajamdade.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 8. Faculty Table -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img
          src="/images/sample4.jpg"
          alt="Ms. Ayesha Asif Sayyad
        "
        />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Ms. Ayesha Asif Sayyad</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Assistant Professor</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>ME (COMP)</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching:06 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>
                Data Structures and Algorithm, Discrete mathematics, Operating
                system
              </td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>ayeshasayyad.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 9. Faculty Table -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img
          src="/images/sample4.jpg"
          alt="Mrs. Rahila Sayeda
        "
        />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Mrs. Rahila Sayeda</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Assistant Professor</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>ME (COMP)</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching:06 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>Machine Learning, Internet of Things</td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>rahilasayeda.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 10. Faculty Table -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img src="/images/sample4.jpg" alt="Prof. Richa Agarwal" />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Mrs. Richa Agarwal</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Assistant Professor</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>M. Tech (CSE)</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching:5.5 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>
                Computer Networks, Operating System, OOP, Software Engineering,
                Discrete Mathematics
              </td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>richaagarwal.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 11. Faculty Table -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img src="/images/sample4.jpg" alt="Prof. Priya Desai" />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Prof. Pravin Kamble</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Assistant Professor</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>ME Computer</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching:5 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>Image Processing,Data mining</td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>pravinkamble.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 12. Faculty Table -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img src="/images/sample4.jpg" alt="Prof. Priya Desai" />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Prof. Tukaram H. Dethe</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Assistant Professor</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>M. tech (CSE) Ph.D. (Pursuing)</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching:4 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>AI, DS</td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>tukaramdethe.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 13. Faculty Table -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img src="/images/sample4.jpg" alt="Prof. Priya Desai" />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Mr. Unmesh A. Barge</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Lab Assistant</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>M. A.</td>
            </tr>
            <tr>
              <td><strong>Experience</strong></td>
              <td>Teaching:13 Years</td>
            </tr>
            <tr>
              <td><strong>Area of Interest</strong></td>
              <td>Computer Hardware & Networking</td>
            </tr>
            <tr>
              <td><strong>Email Id</strong></td>
              <td>unmeshbarge.tcoer@kjei.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>
