<%- include("partials/header.ejs") %>
<body>
  <main>
    <div>
      <h1>Roadmap to follow for better Placement</h1>

      <table>
        <tbody>
          <!-- DSA -->
          <tr>
            <td><strong>DSA</strong></td>
            <td>
              <a
                href="https://www.geeksforgeeks.org/learn-data-structures-and-algorithms-dsa-tutorial/"
                target="_blank"
                >LINK</a
              >
            </td>
          </tr>

          <!-- Core Subjects -->
          <tr>
            <td><strong>Core Subjects</strong></td>
            <td>
              <a
                href="https://www.geeksforgeeks.org/prepare-cs-core-subjects-for-placements/"
                target="_blank"
                >LINK</a
              >
            </td>
          </tr>

          <!-- WEB DEVELOPEMT -->
          <tr>
            <td><strong>WEB DEVELOPEMT</strong></td>
            <td>
              <a
                href="https://www.geeksforgeeks.org/mern-stack/"
                target="_blank"
                >LINK</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</body>
