<%- include("partials/header.ejs") %>
<body>
  <main>
    <div class="faculty-card">
      <div class="faculty-img">
        <img src="/images/sample2.jpg" alt="Titans Leader" />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>Leader name Here..</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>Head of Titans</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>B.E (IT)</td>
            </tr>
            <tr>
              <td><strong>Phone Number</strong></td>
              <td>leader phone no. here</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- ALL Member List #TODO -->
    <div class="faculty-card">
      <div class="faculty-img">
        <img src="/images/sample2.jpg" alt="Titans Member" />
      </div>
      <div class="card-content">
        <table>
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>member name Here..</td>
            </tr>
            <tr>
              <td><strong>Designation</strong></td>
              <td>member post here ...</td>
            </tr>
            <tr>
              <td><strong>Qualification</strong></td>
              <td>Member Qualification Here...</td>
            </tr>
            <tr>
              <td><strong>Phone Number</strong></td>
              <td>Member No. Here</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>
