<%- include("partials/header.ejs") %>
<body>
  <main>
    <div>
      <h1>Virtual Tour</h1>
      <div>
        <img src="../public/images/campus.jpg" alt="Campus Img" />
        <h4>Campus</h4>
      </div>
      <div>
        <img src="../public/images/library.jpg" alt="Library Img" />
        <h4>Library</h4>
      </div>
      <div>
        <img
          src="../public/images/Programming Lab III.jpg"
          alt="Classrooms Img"
        />
        <h4>Classrooms</h4>
      </div>

      <div>
        <img src="../public/images/sap.jpg" alt="SAP LAB Img" />
        <h4>SAP LAB</h4>
      </div>
      <div>
        <img
          src="../public/images/Programming Lab III.jpg"
          alt="Laboratory Img"
        />
        <h4>Laboratory</h4>
      </div>

      <div>
        <img src="" alt="Titans Img" />
        <h4>Titans</h4>
      </div>
    </div>
  </main>
</body>
